# NextAuth.js
NEXTAUTH_SECRET=tixkNf0yILh7PgdmUkEqXsa5QjBdt8lYURh36aoeYCg=
NEXTAUTH_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=84357541284z-akzvrrt6kld497vh5pc2cqc17qganQafa.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Database (если потребуется)
DATABASE_URL="file:./dev.db"